
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');


:root {
  --primary-color: hsl(238, 40%, 52%);
  --comment-text-color: hsl(211, 10%, 45%);
  --clr-soft-red: hsl(358, 79%, 66%);
  --clr-neutral-gray: hsl(211, 10%, 45%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  width: 100vw;
  justify-content: center;
  font-family: 'Rubik', sans-serif ;
  background-color: #999999;
}

img {
  width: 100%;
}

.container {
  width: 80%;
  height: 100%;
  max-width: 850px;
  margin: 20px auto;
}


.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
  backdrop-filter: blur(3px);
  z-index: 10;
}

.btn {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  border: none;
  color: white;
  font-family: 'Rubik', sans-serif;
  background: transparent;
}

.comment-list {
  padding: 20px;
  background-color: white;
}

.card.comment {
  display: grid;
  padding-top: 20px;
  grid-template: 
  'commentVote commentHeader commentHeader commentHeader' 50px
  'commentVote commentContent commentContent commentContent' 1fr 
  'form form form form' 0.5fr
  / 50px 1fr;
  background-color: white;
  /* animation: fadein 0.5s ease-in; */

}

@media (max-width: 500px) {
  .card.comment {
    grid-template: 
  'commentHeader commentHeader commentHeader commentHeader' 50px
  'commentContent commentContent commentContent commentContent' 1fr
  'commentVote commentVote commentVote commentVote' 50px  
  'form form form form' 0.5fr
  / 1fr 1fr 50px 1fr;
  }
}

.card.replie {
  display: grid;
  width: 80%;
  min-width: 400px;
  margin-left: auto;
  padding: 20px 0px;
  grid-template: 
  'commentVote commentHeader commentHeader commentHeader' 50px
  'commentVote commentContent commentContent commentContent' 1fr 
  'form form form form' 0.5fr
  / 50px 1fr;
  background-color: white;
  /* animation: fadein 0.5s ease-in; */
}

@media (max-width: 500px) {
  .card.replie {
    min-width: 100%;
    grid-template: 
  'commentHeader commentHeader commentHeader commentHeader' 50px
  'commentContent commentContent commentContent commentContent' 1fr
  'commentVote commentVote commentVote commenteVote' 50px  
  'form form form form' 0.5fr
  / 1fr 1fr 50px 1fr;
  }
}

.header-comment {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  grid-area: commentHeader;
  margin-bottom: 20px;
  gap: 20px
}

@media (max-width: 500px) {
  .header-comment .comment-createdAt {
    display: none;
  }
  
}

.header-comment .img-profile-comment {
  width: 30px;
}

.header-comment .btn.btn-icon{
  margin-left: auto;
  display: flex;
  gap: 10px;
  color: var(--primary-color);
  font-weight: 700;
}

.btn-container {
  display: flex;
  margin-left: auto;
  gap: 20px;
  grid-area: btnContainer;
}

@media (max-width: 800px) {
  .btn-container {
    gap: 10px;
  }
  
}

.btn-container span {
  display: inline-block;
}

@media (max-width: 800px) {
  .btn-container span {
    display: none;
  }
}

.currentUser-id {
  width: 40px;
  text-align: center;
  height: 20px;
  background-color: var(--primary-color);
  color: white;
}

.comment-vote {
  grid-area: commentVote;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-right: 30px;
  gap: 1rem;
  color: var(--primary-color);
  font-weight: 700;
}

@media (max-width: 500px) {
  .comment-vote {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
  
}
.comment-content {
  grid-area: commentContent;
  color: var(--comment-text-color);
  line-height: 1.4rem;
}

.comment-content span {
  font-weight: 700;
  color:hsl(238, 40%, 52%)
}

.card.form-container {
  padding: 0 20px 50px 20px;
  background: white;
}

.card.modalDelete-container {
  position: fixed;
  top: 50%;
  margin-top: -100px;
  left: 50%;
  margin-left: -150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--clr-neutral-gray);
  width: 300px;
  height: 200px;
  background: white;
  padding: 20px;
  z-index: 10;
  animation: fadein 0.5s ease-in-out;
}


.card.modalDelete-container div{
  display: flex;
  justify-content: space-between;
}

form {
  display: flex;
  flex: 0 auto 1;
  flex-wrap: nowrap;
  grid-area: form;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background-color: white; 
}

form.visible {
  display: flex;
  padding: 20px 0;
  flex: 0 auto 1;
  flex-wrap: nowrap;
  grid-area: form;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background-color: white; 
}


textarea {
  width: 60%;
  height: 100%;
  border: 1px solid hsl(223, 19%, 93%);
  padding: 10px;
  overflow: hidden;
}

textarea:focus {
  outline: 1px solid hsl(211, 10%, 45%);
}

.btn.btn-primary {
  background-color: var(--primary-color);
  padding: 10px 20px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 10px;
}

.btn.btn-primary:hover {
  opacity: 0.8;
}

.btn.btn-delete {
  background-color: var(--clr-neutral-gray);
  text-transform: uppercase;
  font-weight: 700;
  padding: 10px 20px;
  border-radius: 10px;
}

.img-form {
  height: 40px;
  width: 40px;
}

.hidden {
  display: none;
  animation: fadeout 0.5s ease-out;
}

/* Tentativa frustrada de fazer uma animação */

@keyframes fadein {

  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeout {

  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
